<style type="text/css">
  body {
    background: 
      url("/images/concertbg.jpg"); 
      background-size: cover;
      background-attachment: fixed;
  }

  .navbar-default .navbar-nav>li>a {
    color: #B93717;
    font-size: 17px;
    text-shadow: 0 1px 1px rgba(0,0,0,.7)
}

</style>

<div class="container" id='contdetailswell'>
<div class="well" id="detailswell">
  <img id="detailslogo" src="/images/banddetailslogo.png">
  <img src="<%= artist.images[1].url%>">
  <%= artist.name %>

</div>
</div>