<style type="text/css">
body {
  background: 
  url("/images/radiobg.jpg"); 
  background-size: cover;
  background-attachment: fixed;
}
.navbar-default .navbar-nav>li>a {
  color: #B93717;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,.7)
}
#nav {
  margin-top: 6px;
  background-color: #948E67;
}
#navlogo {
    height: 35px;
    width: 139px;
    margin-top: 5px;
}
</style>

<div class="opcbg">
  <div class="container">
    <form method="POST">
      <div class="well" id="loginwell">
        <img id="loginimg"src="/images/loginlogo.png"><br>
        <label for="">Email:</label>
        <input type="text" class="form-control" name="email"><br>
        <label for="">Password:</label>
        <input type="password" class="form-control" name="password">
        <button type="submit" class="allbuttons">Log In</button>
      </div>
    </form>
  </div>
</div>