<style type="text/css">
  body {
    background: 
      url("/images/radiobg.jpg"); 
      background-size: cover;
      background-attachment: fixed;
  }

  .navbar-default .navbar-nav>li>a {
    color: #B93717;
    font-size: 20px;
    text-shadow: 0 1px 1px rgba(0,0,0,.7)
}

#nav {
  margin-top: 6px;
}

#navlogo {
    height: 35px;
    width: 139px;
    margin-top: 5px;
}
/*.form-control {

  height: 30px !important;
  width: 220px !important;
  font-size: 14px !important;

}*/

</style>
<form method="POST">
  <div class="well" id="loginwell">
    <img id="loginimg"src="/images/starlogo.png">
    <h1 id="logintitle">Login</h1>
    <label for="">Email:</label>
    <input type="text" class="form-control" name="email">
    <label for="">Password:</label>
    <input type="password" class="form-control" name="password">
    <button type="submit">Log In</button>
  </div>
</form>