<style type="text/css">
  body {
    background-image: url("/images/coloredcassettebg.jpg"); 
    background-position: center;
    background-attachment: fixed;
  }

  #nav {
    background-color: #417E99;
    border: none;
}

  .navbar-default .navbar-nav>li>a {
    color: #B93717;
    font-size: 17px;
    text-shadow: 0 1px 1px rgba(0,0,0,.7)
}

</style>
  <!-- <div class="container text-center"> If i wanted to center within container and height and width percentile would FILL container. -->
  <div class="opcbg">
    <div class="container">
    <div class="well" id="profilewell">
      <img id="profilelogo" src="/images/profilelogo.png">
      <%= user.name %>
    </div>
  <!-- favorites well  -->
    <div class="well" id="favoriteswell">
      <img id="favoriteslogo"src="/images/favoriteslogo.png">
      <% user.favs.forEach(function(fav) { %>
      <div>
        <%= fav.name %>
        <a href="/details/<%= fav.id %>">
          <button type="submit" class="allbuttons">More Info!</button>
        </a>
       </div> 
      <% });%>
    </div>
    </div>
  </div>
<!-- </div> -->

