<style type="text/css">
  body {
    background-image: url("/images/coloredcassettebg.jpg"); 
    /*height: 100%;
    width: 100%;*/
    background-position: center;
    background-attachment: fixed;
  }

  #nav {
    background-color: #417E99;
    border: none;
}

  .navbar-default .navbar-nav>li>a {
    color: #B93717;
    font-size: 17px;
    text-shadow: 0 1px 1px rgba(0,0,0,.7)
}

</style>

  
  <div class="title">
    <h1>Profile</h1>
  </div>


