<style type="text/css">
  body {
    background: 
      url("/images/headphonesbg.jpg"); 
      background-size: cover;
      background-attachment: fixed;
  }

</style>

<h1>Sign Up</h1>
<form>
  <div class="well">
      <label>Email</label>
      <input type="text" class="form-control" id="" name="email"><br>
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password"> <br>
      <input type="password" class="form-control" placeholder="Retype Password">
  </div>

  <button type="submit" class="allButton">Create Profile</button>
</form>