<style type="text/css">
  body {
    background: 
      url("/images/headphonesbg.jpg"); 
      background-size: cover;
      background-attachment: fixed;
  }

</style>

<form method="POST">
  <div class="well" id="signupwell">
  <h1>Sign Up</h1>
      <label>Name</label>
      <input type="text" class="form-control" name="name"><br>
      <label>Email</label>
      <input type="text" class="form-control" name="email"><br>
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password1"> <br>
      <input type="password" class="form-control" placeholder="Retype Password" name="password2">
      <button type="submit" class="allButton">Create Profile</button>
  </div>
</form>