
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("/images/backgroundshot.png") no-repeat;
    background-size: cover; 
}
/*place holder mods*/
input::-webkit-input-placeholder {
color: #B93717 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #B93717 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #B93717 !important;  
}
 
input:-ms-input-placeholder {  
color: #B93717 !important;  
}
 /*all nav bar*/
#nav {
    background-color: transparent;
    margin-bottom: 0px;
    border: 0px;
    color: #4A4938;
}
.navbar-default .navbar-nav>li>a {
    color: #4A4938;
}
#navlogo {
    height: 27px;
    width: 124px;
    margin-top: 10px;
}
#inputform {
    background-color: #979797;
    border-color: #B93717;
    color: #4a4938;
}
.navbar-form {

}
#searchbtn {
    background-color: #417e99;
    border-color: #B93717;
    color: #4a4938;
}
/*home page */
#logo {
    text-align: center;
    margin-top: 3%;
}
#pitch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    /*margin-top: -10px;*/
}
.groupbtns {
    text-align: center;
}
.indexbtns {
    margin-right: auto;
    margin-top: 2%;
    height: 55px;
    padding: 2px 30px 2px 30px;
}
#pitchdiv {
    border-bottom-width: .5px;
    border-bottom: solid #B93717;
    border-radius: 20px;
    width: 425px;
}

html {
    height: 100%;
    width: 100%;
}

body { 
    padding-top: 50px; /*this is for fixed nav bar*/
   font-family: 'Fjalla One', sans-serif;
    background-image: url("/images/backgroundshot.png");
    height: 100%;
    width: 100%;


}

.allbuttons {
    border-radius: 5px;
    margin-top: 11px;

}
.opcbg {
    height: 125%;
    width: 100%;
    background-color: rgba(130, 125, 82, 0.6);
}
.opcbgsingup {
   height: 125%;
    width: 100%;
    background-color: rgba(130, 125, 82, 0.8); 
}

/*login page*/
#loginwell {
    background-color: #4A4938;
    border: 0;
    width: 32%;
    color: #B93717;
    text-align: left;
    font-size: 22px;
    margin-top: 130px;
    margin-left: 6%;
}
#loginimg {
    height: 124px;
    width: 230px;
    margin-top: -70px;
}

/*sign up page*/
#signupwell {
    background-color: #4A4938;
    border: 0;
    width: 32%;
    color: #B93717;
    text-align: left;
    font-size: 22px;
    /*margin-top: 100px;*/
    margin-left: 8%;
    /*top: 130px;*/
    margin: 6% auto !important;
}
#signuplogo {
    height: 90px;
    width: 170px;
    margin-top: -63px;
}

/*profile page*/

#profilewell {
    background-color: #D8D8D8;
    border: 0;
    width: 65%;
    min-height: 200px;
    height: 50%;
    color: #B93717;
    /*font-size: 22px;*/
    position: relative;
    top: 130px;
    margin: 0 auto !important;
    /*margin-left: 8%;*/
/*    margin-top: 130px;
*/    /*margin-left: 8%;*/
}
/*.profile {
    text-align: center;

}*/
#profilelogo {
    height: 170px;
    width: 365px;
    margin-top: -86px;
}
#favoriteswell {
    background-color: #D8D8D8;
    border: 0;
    width: 65%;
    min-height: 200px;
    height: 50%;
    color: #B93717;
    /*font-size: 22px;*/
    position: relative;
    top: 130px;
    margin: 2% auto !important;
    /*margin-left: 8%;*/
}
#favoriteslogo {
    height: 170px;
    width: 365px;
    margin-top: -86px;
    float: right;
    /*margin-left: 238px;*/
}

/*band details page */
#detailswell {
    display: flex;
    justify-content: center;
    margin-top: 118px;  
}
#detailslogo {
    height: 170px;
    width: 365px;
    margin-top: -92px;  
}
#relatedwell {
    
}



@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('./images/backgroundshot.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
